<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="dto.User" alias="user" />
		<typeAlias type="dto.Board" alias="board" />
		<typeAlias type="dto.Category" alias="category" />
		<typeAlias type="dto.UserLocation" alias="userLocation" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/UserMapper.xml"/>
		<mapper resource="mybatis/mapper/BoardMapper.xml"/>
		<mapper resource="mybatis/mapper/CategoryMapper.xml"/>
		<mapper resource="mybatis/mapper/UserLocationMapper.xml"/>
	</mappers>





</configuration>