<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	
	<select id="selectAllBoard" resultMap="boardBase">
		select *
		from board
	</select>
	<select id="selectBoard" resultMap="boardBase" parameterType="int">
		select *
		from board
		where board_no=#{boardNo}
	</select>
	<select id="selectMyBoard" resultMap="boardBase" parameterType="int">
		select *
		from board
		where user_no=#{userNo}
	</select>
	
	<resultMap type="board" id="boardBase">
		<id column="board_no" property="boardNo"/>
		<result column="title" property="title"/>
		<result column="hit" property="hit"/>
		<result column="content" property="content"/>
		<result column="writed_date" property="writedDate"/>
		<result column="user_no" property="userNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="image_path" property="imagePath"/>
	</resultMap>

</mapper>