<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserCategoryMapper">
	
	<select id="selectAllUserCategory" resultMap="userCategoryBase">
		select *
		from USER_CATEGORY
	</select>
	
	<select id="selectUserCategory" resultMap="usercategoryDetail" parameterType="int">
		select *
		from USER_CATEGORY u, CATEGORY c
		where u.CATEGORY_NO = c.CATEGORY_NO and u.user_no = #{id}
	</select>
	
	
	
	
	
	
	
	
	<resultMap type="usercategory" id="userCategoryBase">
		<id column="list_no" property="listNo"/>
		<result column="category_no" property="categoryNo"/>
		<result column="user_no" property="userNo"/>		
	</resultMap>
	
	<resultMap type="usercategory" id="usercategoryDetail" extends="userCategoryBase">
		<association property="category" column="category_no" javaType="category" resultMap="CategoryMapper.categoryBase"></association>
	</resultMap>
	

</mapper>